html,
body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #ffffff;
  height: 90vh;
  width: 40vh;
  border: 5px solid #00c5ad;
}

.playlist-bar {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlist-bar__column {
  margin-right: 7px;
  width: 40%;
  font-size: large;
}

.playlist-bar__column:nth-child(2) span {
  display: flex;
  justify-content: center;
  margin-right: 95%;
  font-size: 30px;
  font-weight: 800;
}

.playlistbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20%;
}

.playlistbox__albumbox {
  margin-left: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 36%;
  background-color: #ffbd11;
  border: 3px solid black;
  border-radius: 10%;
  font-size: 25px;
}

.playlistbox__albuminfo {
  margin-left: 10px;
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.playlistbox__albuminfo__albumname {
  line-height: 110%;
  font-size: 40px;
  font-weight: 800;
}

.playlistbox__albuminfo__albumby {
  font-size: 17px;
  font-weight: 600;
}

.btnfield {
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btnfield__playbtn {
  margin-left: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45%;
  width: 45%;
  border: 3px solid black;
  border-radius: 15px;
  border-bottom-width: 8px;
}

.btnfield__playicon {
  margin-left: 40px;
}

.btnfield__playletter {
  margin-right: 40px;
  font-size: 25px;
  font-weight: 800;
}

.btnfield__heartbtn {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-color: white;
  border: 3px solid black;
  border-radius: 50%;
  border-bottom-width: 8px;
}

.btnfield__addbtn {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-color: white;
  border: 3px solid black;
  border-radius: 50%;
  border-bottom-width: 8px;
}

.musicfield {
  display: flex;
  flex-direction: column;
  height: 50%;
}

.musicfield__music1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25%;
}

.musicfield__music1__thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
}

.musicfield__music1__thumbnail__icon {
  background-image: url(thumbnail/you\ were\ beautiful.jpg);
  background-size: contain;
  margin-left: 8px;
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-radius: 15px;
}

.musicfield__music1__musicinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 75%;
}

.musicfield__music1__musicname {
  font-weight: 800;
}

.musicfield__music1__musicsinger {
  font-weight: 500;
}
.musicfield__music2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 25%;
}

.musicfield__music2__thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
}

.musicfield__music2__thumbnail__icon {
  background-image: url(thumbnail/shadow.jpg);
  background-size: contain;
  margin-left: 8px;
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-radius: 15px;
}

.musicfield__music2__musicinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 75%;
}

.musicfield__music2__musicname {
  font-weight: 800;
}

.musicfield__music2__musicsinger {
  font-weight: 500;
}
.musicfield__music3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 25%;
}
.musicfield__music3__thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
}

.musicfield__music3__thumbnail__icon {
  background-image: url(thumbnail/sing\ street.jpg);
  background-size: contain;
  margin-left: 8px;
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-radius: 15px;
}

.musicfield__music3__musicinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 75%;
}

.musicfield__music3__musicname {
  font-weight: 800;
}

.musicfield__music3__musicsinger {
  font-weight: 500;
}

.musicfield__music4 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 25%;
}

.musicfield__music4__thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
}

.musicfield__music4__thumbnail__icon {
  background-image: url(thumbnail/stay\ this\ way.jpg);
  background-size: contain;
  margin-left: 8px;
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-radius: 15px;
}

.musicfield__music4__musicinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 75%;
}

.musicfield__music4__musicname {
  font-weight: 800;
}
.musicfield__music4__musicsinger {
  font-weight: 500;
}
