.bg {
  display: flex;
  background-color: white;
  width: 340px;
  height: 720px;
  border-radius: 35px;
}

.bg-icon-bar {
  width: 100%;
  padding: 50px 25px;
  display: flex;
  justify-content: space-between;
}
